<div class="view-intro wrapper">
	<div class="logo logo-big">Online Social Karaoke</div>
		<div class="buttons">
			<form id="uploadForm" enctype="multipart/form-data">
				<table style="color: #fff; text-align: left; width: 400px; left: 50%; position: absolute; margin-left: -200px">
					<tr>
						<td>MP3 file</td>
						<td>
							<input type="file" name="audio" /> 		
						</td>
					</tr>
					<tr>
						<td>UDX file</td>
						<td>
							<input type="file" name="udx" /> 		
						</td>
					</tr>
					<tr>
						<td>Youtube URL</td>
						<td>
							<input type="text" name="youtubeUrl" /> 		
						</td>
					</tr>
				</table>
				<div style="padding-top: 50px">
					
					<button type="submit" class="button pink glossy">Submit</button>

					<button class="button orange glossy" id="uploadBack">Back</button>		
				</div>
			</form>
		</div>
	</div>
</div>

<div id="message">

</div>
