<div class="view-songs wrapper">
        <div>
                <a href="#" class="logo logo-small">Online Social Karaoke</a>
        </div>

        <div id="main-wrapper">
                <div id="content">
                        <div class="left">
                                <div id="search">
                                        <h1>Select song to edit</h1>
                                        <input type="text" name="query" id="song-filter" autocomplete="off" />
                                        <p><span>Filter songs by typing in the field</span> <span id="song-count"></span></p>
                                </div>
                                <div id="results">
                                        <ul></ul>
                                </div>
                        </div>
                        <div class="right">
                                <div id="edit-details"></div>
                        </div>
                </div>
                <div id="backdrop"></div>
        </div>

</div>

