<html>
<head></head>
<body>
<h1>Privacy Policy</h1>
This privacy policy sets out how ProtoStar uses and protects any information that you give ProtoStar when you use this website. ProtoStar is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. ProtoStar may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 20th of April, 2012.

<h2>What we collect</h2>
We may collect the following information:
Nickname and score submitted by you in the end of each played song.

<h2>What we DON'T collect</h2>
We absolutely not collect the following information:
Vocal recording from your microphone.

<h2>What we do with the information we gather</h2>
We require this information to keep records of best scores and allow other players to challenge you. 

<h2>How we use cookies</h2>
A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.

<h2>Links to other websites</h2>
Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.

<h2>Controlling your personal information</h2>
You may choose to restrict the collection or use of your personal information by not submit your score after you have played a song.
We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please contact us.
</body>